.root {
  padding: 36px;
  //background-color: #f3f3f3;
}

.boxWrapper {
  padding: 16px;
  background-color: #fff;
}

.boxImage {
  width: 120px;
  height: 120px;
  background-image: url("/assets/images/zalo-oa.png");
  background-size: 120px 120px;
  margin: 20px auto 8px;
}

.row {
  width: 100%;
}

.description {
  text-align: center;
  line-height: 1.6;
  font-size: 13px !important;
  margin-bottom: 30px;
}

.btnToHome {
  background-color: #006dff !important;
  color: #f3f3f3 !important;
  padding: 12px 0 !important;
}
